<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557562908941-8oob8qa1n4tdi4i4b3lc7tg4okn4870t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557562908941-8oob8qa1n4tdi4i4b3lc7tg4okn4870t</string>
	<key>API_KEY</key>
	<string>AIzaSyD3yZPp7aLb0CqvbUz2AR67BzVLG1rsn_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>557562908941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.senitf.MusicPen</string>
	<key>PROJECT_ID</key>
	<string>musicpen-f2b5b</string>
	<key>STORAGE_BUCKET</key>
	<string>musicpen-f2b5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557562908941:ios:5b52f272735d9ae8d6e044</string>
</dict>
</plist>